DB_HOST=""
DB_PORT="3306"
DB_USER=""
DB_PASSWORD=""
DB_NAME="gestionale_dai_ragazzi"
DB_SSL="false"

PUBLIC_SITE_ORIGIN="http://localhost:4321,https://garavella7.bitora.it,https://www.bardairagazzicarmagnola.it"

AUTH_USER="admin"
AUTH_PASSWORD="dairagazzi"
AUTH_SECRET="cambia-questa-chiave"
